/* Documentation Stylesheet */

h2{
    font-size: 1.5em;
    margin: 0;
}
.doc-text{
    padding-left: 1em;
}
.doc-text li{
    font-size: 1em;
    margin: 0.2em;
    display: block;
    width: 100%;
}

/* Left Text Column */
.left-col{
    width: 22%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.power-button{
    height: 7em;
    width: 100%;
}
.power-button img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

/* Right Text Column */
.right-col{
    width: 22%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

/* Image Column */
.image-col{
    width: 25%;
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-items: center;
}
.image-col img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}