/* FAQ Stylesheet */

h1 {
    padding-top: .25em; 
    padding-bottom: .5em; 
    text-align: center; 
    font-size: 3.5em; 
    margin: 0;
}

table { 
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse; 
    width: 85%; 
} 
  
th, td { 
    text-align: left; 
    font-size: xx-large; 
} 

summary{
    cursor: pointer;
    padding: 8px;
    margin: 0;
}
summary:hover{
    background-color: #D7D7D7;
    transition-duration: 0.2s;
}
  
tr:nth-child(even) { 
    background-color: rgb(235, 235, 235); 
} 

.faq-answer{
    font-size: x-large;
    padding: 8px; 
}

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary::before { 
    content:url('../images/Arrow-right.svg');
    display: inline-block;
    width: 1.5em;
    /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before {
    content:url('../images/Arrow-down.svg'); 

}