/* Global Stylesheet */

body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: calibri;
    overflow-y: scroll; /* Always show scroll bar to avoid page resizing itself */
}


/*----------Header----------*/
header{
    background-color: #023047;
    position: static;
    width: 100%;
    padding-bottom: 0.5em;
}
.logo img{
    width: 19em;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 0.5em;
    color: #fa3d3d;
}
/*Header Navigation Bar*/
nav ul{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    width: 45em;
}
nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: calibri;
    transition: color 0.3s ease;
}
nav a:hover{ 
    color: #8ECAE6; 
}
nav li{
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    font-family: calibri;
    display: inline-block;
}
.header-rule{
    width: 45em;
    margin: 0 auto;
    margin-top: 0.1em;
}


/*----------Footer----------*/
footer{
    position: relative;
    background-color: #023047;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 0.2em;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-links img{
    width: 2em;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
}
.footer-rule{
    flex: 0.15; 
    height: 0;
    border: 0.01em solid #8ECAE6;
    margin: 0;
}

/*----------Structure----------*/
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.border {
    border: black solid 1px;
}

.mt-50 {
    margin-top: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.m-5 {
    margin: 5px;
}