/* Overview Stylesheet */

.content{
    display: flex;
    margin: 1.5em 1.5em;
    align-items: center; 
}

/*Left Side*/
.preview-image{
    height: 25em;
    width: 45%;
    outline: 0.1em solid #666666;
    padding: 0.5em;
    position:relative;
}
.preview-image img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.reviews{
    position: absolute;
    right: 2%;
    height: 3em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.stars{
    color: #FFB703;
    font-size: 1.2em;
    font-weight: bold;
}

/*Right Side*/
.right-column{
    width: 50%;
    margin: 0 auto;
}
h1{
    text-align: center;
    margin: 0 auto;
    font-size: 3.5em;
    font-weight: bold;
}
h2{
    text-align: center;
    margin: 0.1em auto;
    font-size: 2.5em;
    font-weight: normal;
}
li{
	font-size: 1.1em;	
}
.option-buttons{
    display: flex;
}
.button{
    width: 48%;
    padding: 0.1em 0.1em;
    margin: 0.3em auto;
    outline: 0.1em solid #000000;
    cursor: pointer;
    display: block;
    text-align: center;
}
.button:hover{
    background-color: #EBEBEB; 
    transition-duration: 0.2s;
}
.selected{
    outline: 0.1em solid #FFB703;
}
.right-column fieldset{
    position: relative;
    overflow: hidden;
    transition: height 0.5s;
}
.not-extended{  /* Unextended height of description fieldsets */
    height: 18em; /*Must be a numerical value for transition to work. Can't be auto*/
}
.body-extended{ /* Extended height of "Body Only" description fieldset */
    height: 26.5em;
}
.camera-extended{ /* Extended height of "Body With RF24..." description fieldset */
    height: 27.5em;
}
fieldset .extend-button{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));;
}

.hidden{
    display: none;
}
.purchase-button{
    background-color: #FFB703;
    color: #000000;
    text-align: center;
    text-decoration: none;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: bold;
    outline: 0.1em solid #000000;
    height: 2em;
    width: auto;
    margin: 0.5em auto;
    transition-duration: 0.3s;
    display: block;
}
.purchase-button:hover{
    background-color: #c78f00;
}